<div class="section homeBackground">
  <div class="Container columns is-centered">
    <div class="column is-6">
      <div class="notification">
        <h1 class="title">Edit Service</h1>
        <%= render 'form', service: @service %><br>
      </div>
    </div>
  </div>
</div>
