<div class="section homeBackground">
  <div class="container columns is-centered">
    <div class="column is-6">
      <h1 class="title notification is-primary">New Service</h1>
      <div class="box">
        <%= render 'form', service: @service %>
      </div>
    </div>
  </div>
</div>
